# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# runtime folders that shouldn't be in source
common/src/main/java/**/crash-reports/
common/src/main/java/**/logs/
common/src/main/java/**/Downloads/
common/src/main/java/**/.architectury-transformer/
common/src/main/java/**/mods/
common/src/main/java/**/data/*.dat
common/src/main/java/**/config/fabric/
common/src/main/java/**/config/more_rpg_classes/
common/src/main/java/**/config/rpg_series/
common/src/main/java/**/config/spell_engine/
common/src/main/java/**/config/spell_power/
common/src/main/java/**/config/witcher_rpg/
common/src/main/java/**/config/*.properties

# datagen cache
common/src/main/generated/.cache/
common/src/main/resources/_backup

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
